<a href="https://colab.research.google.com/github/Merly2004/FannyPaucar-Carrasco/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Resolver con numpy los siguientes casos

In [ ]:
# crea un vector de números enteros del 1 al 20.
import numpy as np

vector_1_20 = np.arange(1, 21)
print("Vector 1 al 20:")
print(vector_1_20)

Vector 1 al 20:
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

. Crea una matriz de 3x3 con valores aleatorios entre 0 y 1

In [2]:
import numpy as np
matriz_3x3 = np.random.rand(3,3)
print("\nMatriz 3x3 con valores aleatorios entre 0 y 1:")
print(matriz_3x3)

Matriz 3x3 con valores aleatorios entre 0 y 1:
[[0.11926363 0.19109599 0.37048284]
 [0.8539737  0.75241011 0.59338695]
 [0.88102465 0.26970498 0.03058974]]

Redimensionar una matriz de 4x4 a una matriz de 2x8

In [7]:
import numpy as np
matriz_4x4 = np.arange(16).reshape(4,4)
matriz_2x8 = matriz_4x4.reshape(2,8)
print("\nMatriz 4x4:")
print(matriz_4x4)
print("\nMatriz redimensionada a 2x8:")
print(matriz_2x8)

Matriz 4x4:
[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]

Matriz redimensionada a 2x8:
[[ 0  1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14 15]]

 Array de 10 números equidistantes entre 0 y 1

In [4]:
array_equidistante = np.linspace(0, 1, 10)
print("\nArray de 10 números equidistantes entre 0 y 1:")
print(array_equidistante)

Array de 10 números equidistantes entre 0 y 1:
[0.         0.11111111 0.22222222 0.33333333 0.44444444 0.55555556
 0.66666667 0.77777778 0.88888889 1.        ]

Concatenar dos vectores vertical y horizontalmente

In [6]:
import numpy as np

vector_1_20 = np.arange(1, 21)
vector_21_40 = np.arange(21, 41)  # otro vector de tamaño 20

# Concatenación horizontal (suma longitudes)
concat_horizontal = np.concatenate((vector_1_20, vector_21_40))
print("Concatenación horizontal:")
print(concat_horizontal)

# Concatenación vertical (ambos vectores como filas de una matriz 2x20)
concat_vertical = np.concatenate((vector_1_20.reshape(1, -1), vector_21_40.reshape(1, -1)), axis=0)
print("\nConcatenación vertical:")
print(concat_vertical)

Concatenación horizontal:
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40]

Concatenación vertical:
[[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
 [21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40]]

2. resolver las siguientes operaciones.

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_excel('/content/universidad.xlsx')
valores = df['Id Persona'].values

calcula la suma, resta, multiplicación y división de dos vectores

In [11]:
import pandas as pd
import numpy as np
df = pd.read_excel('/content/universidad.xlsx')
valores = df['Id Persona'].values
valores = df['Id Persona'].values
vec1 = valores[:5]
vec2 = valores[5:10]

suma = vec1 + vec2
resta = vec1 - vec2
multiplicacion = vec1 * vec2
division = vec1 / vec2

print("Suma:", suma)
print("Resta:", resta)
print("Multiplicación:", multiplicacion)
print("División:", division)

Suma: [ 7  9 11 13 15]
Resta: [-5 -5 -5 -5 -5]
Multiplicación: [ 6 14 24 36 50]
División: [0.16666667 0.28571429 0.375      0.44444444 0.5       ]

Media, mediana y desviación estándar de un vector

In [12]:
media = np.mean(vec1)
mediana = np.median(vec1)
desviacion = np.std(vec1)

print(f"\nMedia: {media}")
print(f"Mediana: {mediana}")
print(f"Desviación estándar: {desviacion}")

Media: 3.0
Mediana: 3.0
Desviación estándar: 1.4142135623730951

Normalizar vector dividiendo cada elemento por el máximo

In [13]:
normalizado = vec1 / np.max(vec1)
print("\nVector normalizado:", normalizado)

Vector normalizado: [0.2 0.4 0.6 0.8 1. ]

Índices del valor máximo y mínimo

In [14]:
indice_max = np.argmax(vec1)
indice_min = np.argmin(vec1)

print(f"\nÍndice del valor máximo: {indice_max}")
print(f"Índice del valor mínimo: {indice_min}")

Índice del valor máximo: 4
Índice del valor mínimo: 0

Multiplicación matricial entre dos matrices 3x3

In [15]:
matriz1 = valores[:9].reshape(3,3)
matriz2 = valores[9:18].reshape(3,3)

print("\nMatriz 1:\n", matriz1)
print("\nMatriz 2:\n", matriz2)

multiplicacion_matrices = np.dot(matriz1, matriz2)
print("\nMultiplicación matricial:\n", multiplicacion_matrices)

Matriz 1:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

Matriz 2:
 [[10 11 12]
 [13 14 15]
 [16 17 18]]

Multiplicación matricial:
 [[ 84  90  96]
 [201 216 231]
 [318 342 366]]

3. Resolver con numpy los siguientes casos:

selecciona los elementos pares de un vector de números enteros

In [16]:
import pandas as pd
import numpy as np
df = pd.read_excel('/content/universidad.xlsx')
vector = df['Id Persona'].values
# 1. Seleccionar elementos pares
pares = vector[vector % 2 == 0]
print("Elementos pares:", pares)

Elementos pares: [  2   4   6   8  10  12  14  16  18  20  22  24  26  28  30  32  34  36
  38  40  42  44  46  48  50  52  54  56  58  60  62  64  66  68  70  72
  74  76  78  80  82  84  86  88  90  92  94  96  98 100]

In [17]:
import pandas as pd
import numpy as np
df = pd.read_excel('/content/universidad.xlsx')
vector = df['Id Persona'].values
# 2. Filtrar valores mayores que 5
mayores_5 = vector[vector > 5]
print("Valores mayores que 5:", mayores_5)

Valores mayores que 5: [  6   7   8   9  10  11  12  13  14  15  16  17  18  19  20  21  22  23
  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59
  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77
  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95
  96  97  98  99 100]

In [18]:
import pandas as pd
import numpy as np
df = pd.read_excel('/content/universidad.xlsx')
vector = df['Id Persona'].values
# 3. Filtrar valores iguales a cero
iguales_0 = vector[vector == 0]
print("Valores iguales a 0:", iguales_0)

Valores iguales a 0: []

In [19]:
import pandas as pd
import numpy as np
df = pd.read_excel('/content/universidad.xlsx')
vector = df['Id Persona'].values
# 4. Filtrar valores negativos
negativos = vector[vector < 0]
print("Valores negativos:", negativos)

Valores negativos: []

In [20]:
import pandas as pd
import numpy as np
df = pd.read_excel('/content/universidad.xlsx')
vector = df['Id Persona'].values
# 5. Media de valores mayores de 50
mayores_50 = vector[vector > 50]
media_mayores_50 = np.mean(mayores_50) if mayores_50.size > 0 else float('nan')
print("Media de valores mayores de 50:", media_mayores_50)

Media de valores mayores de 50: 75.5

4. Resolver con numpy los siguientes casos:

In [21]:
import numpy as np
# 1. Crear un vector de 10 elementos y reemplazar valores > 5 por 0
vector = np.array([2, 6, 3, 7, 1, 8, 5, 9, 4, 10])
vector_reemplazado = np.where(vector > 5, 0, vector)
print("Vector con valores > 5 reemplazados por 0:", vector_reemplazado)

Vector con valores > 5 reemplazados por 0: [2 0 3 0 1 0 5 0 4 0]

In [22]:
import numpy as np
# 2. Combinar dos vectores booleanos con AND (&) y OR (|)
bool_vec1 = np.array([True, False, True, False, True])
bool_vec2 = np.array([False, False, True, True, False])

and_result = bool_vec1 & bool_vec2
or_result = bool_vec1 | bool_vec2

print("\nAND entre vectores booleanos:", and_result)
print("OR entre vectores booleanos:", or_result)

AND entre vectores booleanos: [False False  True False False]
OR entre vectores booleanos: [ True False  True  True  True]

In [23]:
import numpy as np
# 3. Contar cantidad de valores múltiplos de 3 en un vector
vec_multiplos = np.array([3, 4, 6, 7, 9, 10, 12, 14])
cantidad_multiplos = np.sum(vec_multiplos % 3 == 0)
print("\nCantidad de múltiplos de 3:", cantidad_multiplos)

Cantidad de múltiplos de 3: 4

In [24]:
import numpy as np
# 4. Encontrar índices de elementos no nulos en un vector
vec_con_ceros = np.array([0, 1, 2, 0, 3, 0, 4])
indices_no_nulos = np.nonzero(vec_con_ceros)[0]
print("\nÍndices de elementos no nulos:", indices_no_nulos)

Índices de elementos no nulos: [1 2 4 6]

In [30]:
import numpy as np
# 5. Comprobar si todos los elementos son mayores que un valor especificado por el usuario
valor = int(input("\nIngresa un valor para comparar: "))
vec_check = np.array([10, 15, 20, 25, 30])
todos_mayores = np.all(vec_check > valor)
print(f"\n¿Todos los elementos son mayores que {valor}? {todos_mayores}")

Ingresa un valor para comparar: 30

¿Todos los elementos son mayores que 30? False

5. resolver con numpy los siguientes casos:

In [31]:
import numpy as np

vector = np.array([1, 2, 3, 4, 5])
matriz = np.array([[1, 5, 2, 3],
                   [4, 2, 8, 1],
                   [7, 6, 9, 0]])

# 1. Calcula el cuadrado de cada elemento en un vector
cuadrado = vector ** 2
print("Cuadrado de cada elemento:", cuadrado)

# 2. Elevar todos los elementos del vector a una misma potencia usando función exponencial
exponente = 3
potencia = np.power(vector, exponente)
print(f"Vector elevado a la potencia {exponente}:", potencia)

# 3. Encontrar valores máximos y mínimos en cada fila de una matriz
maximos_filas = np.max(matriz, axis=1)
minimos_filas = np.min(matriz, axis=1)
print("Máximos por fila:", maximos_filas)
print("Mínimos por fila:", minimos_filas)

# 4. Aplicar la función sin a todos los elementos de un vector y almacenar resultados
sin_vector = np.sin(vector)
print("Seno de cada elemento del vector:", sin_vector)

# 5. Transpuesta de una matriz 3x4 (si ya la tienes, aquí un ejemplo)
transpuesta = matriz.T
print("Transpuesta de la matriz:\n", transpuesta)

Cuadrado de cada elemento: [ 1  4  9 16 25]
Vector elevado a la potencia 3: [  1   8  27  64 125]
Máximos por fila: [5 8 9]
Mínimos por fila: [1 1 0]
Seno de cada elemento del vector: [ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427]
Transpuesta de la matriz:
 [[1 4 7]
 [5 2 6]
 [2 8 9]
 [3 1 0]]

6. crea un dataframe con las siguientes columnas:'nombre', 'edad', ' ciudad'.
añade al menos 10 registros

In [32]:
import pandas as pd

# 1. Crear el DataFrame con 10 registros
data = {
    'nombre': ['Ana', 'Luis', 'Carlos', 'María', 'Sofía', 'Pedro', 'Lucía', 'Jorge', 'Elena', 'Tomás'],
    'edad': [22, 30, 27, 19, 24, 35, 28, 21, 26, 40],
    'ciudad': ['Lima', 'Quito', 'Lima', 'Bogotá', 'Quito', 'Lima', 'Bogotá', 'Quito', 'Lima', 'Bogotá']
}

df = pd.DataFrame(data)
print("DataFrame original:\n", df)

# 2. Filtrar personas con edad mayor a 25
mayores_25 = df[df['edad'] > 25]
print("\nPersonas con edad mayor a 25:\n", mayores_25)

# 3. Añadir una columna 'ingresos' con valores ficticios
df['ingresos'] = [1500, 2000, 1800, 1200, 1600, 2500, 1900, 1400, 1700, 2200]
print("\nDataFrame con ingresos añadidos:\n", df)

# 4. Calcular el promedio de la edad
prom_edad = df['edad'].mean()
print("\nPromedio de edad:", prom_edad)

# 5. Contar cuántas veces aparece cada ciudad y promedio de edad por ciudad
conteo_ciudad = df['ciudad'].value_counts()
prom_edad_ciudad = df.groupby('ciudad')['edad'].mean()

print("\nConteo de ciudades:\n", conteo_ciudad)
print("\nPromedio de edad por ciudad:\n", prom_edad_ciudad)

# 6. Ordenar por edad ascendente y descendente
orden_asc = df.sort_values(by='edad')
orden_desc = df.sort_values(by='edad', ascending=False)

print("\nOrdenado por edad ascendente:\n", orden_asc)
print("\nOrdenado por edad descendente:\n", orden_desc)

DataFrame original:
    nombre  edad  ciudad
0     Ana    22    Lima
1    Luis    30   Quito
2  Carlos    27    Lima
3   María    19  Bogotá
4   Sofía    24   Quito
5   Pedro    35    Lima
6   Lucía    28  Bogotá
7   Jorge    21   Quito
8   Elena    26    Lima
9   Tomás    40  Bogotá

Personas con edad mayor a 25:
    nombre  edad  ciudad
1    Luis    30   Quito
2  Carlos    27    Lima
5   Pedro    35    Lima
6   Lucía    28  Bogotá
8   Elena    26    Lima
9   Tomás    40  Bogotá

DataFrame con ingresos añadidos:
    nombre  edad  ciudad  ingresos
0     Ana    22    Lima      1500
1    Luis    30   Quito      2000
2  Carlos    27    Lima      1800
3   María    19  Bogotá      1200
4   Sofía    24   Quito      1600
5   Pedro    35    Lima      2500
6   Lucía    28  Bogotá      1900
7   Jorge    21   Quito      1400
8   Elena    26    Lima      1700
9   Tomás    40  Bogotá      2200

Promedio de edad: 27.2

Conteo de ciudades:
 ciudad
Lima      4
Quito     3
Bogotá    3
Name: count, dtype: int64

Promedio de edad por ciudad:
 ciudad
Bogotá    29.0
Lima      27.5
Quito     25.0
Name: edad, dtype: float64

Ordenado por edad ascendente:
    nombre  edad  ciudad  ingresos
3   María    19  Bogotá      1200
7   Jorge    21   Quito      1400
0     Ana    22    Lima      1500
4   Sofía    24   Quito      1600
8   Elena    26    Lima      1700
2  Carlos    27    Lima      1800
6   Lucía    28  Bogotá      1900
1    Luis    30   Quito      2000
5   Pedro    35    Lima      2500
9   Tomás    40  Bogotá      2200

Ordenado por edad descendente:
    nombre  edad  ciudad  ingresos
9   Tomás    40  Bogotá      2200
5   Pedro    35    Lima      2500
1    Luis    30   Quito      2000
6   Lucía    28  Bogotá      1900
2  Carlos    27    Lima      1800
8   Elena    26    Lima      1700
4   Sofía    24   Quito      1600
0     Ana    22    Lima      1500
7   Jorge    21   Quito      1400
3   María    19  Bogotá      1200

7. Del archivo adjuntado realizar los siguientes filtros

In [33]:
import pandas as pd

# Cargar el archivo Excel
df = pd.read_excel('/content/universidad.xlsx')

# Normalizar texto para evitar errores por mayúsculas o espacios
df['Carrera'] = df['Carrera'].str.strip().str.lower()
df['Inscripción'] = pd.to_datetime(df['Inscripción'], errors='coerce')

# 1. ¿Cuántos son de la carrera de Ing. en Sistemas?
sistemas = df[df['Carrera'] == 'ing. en sistemas']
print("Cantidad de estudiantes de Ing. en Sistemas:", len(sistemas))

# 2. ¿Cuántos son de la carrera de Lic. en Derecho?
derecho = df[df['Carrera'] == 'lic. en derecho']
print("Cantidad de estudiantes de Lic. en Derecho:", len(derecho))

# 3. ¿Cuántos se inscribieron en el año 2015?
inscritos_2015 = df[df['Inscripción'].dt.year == 2015]
print("Cantidad de inscritos en 2015:", len(inscritos_2015))

# 4. ¿Cuántos están en 1° y 2° semestre?
semestres_1_2 = df[df['Semestre'].isin([1, 2])]
print("Cantidad de estudiantes en 1° y 2° semestre:", len(semestres_1_2))

Cantidad de estudiantes de Ing. en Sistemas: 13
Cantidad de estudiantes de Lic. en Derecho: 17
Cantidad de inscritos en 2015: 23
Cantidad de estudiantes en 1° y 2° semestre: 22